

#filmesD {
	
	margin-top: 3%;
	margin-left: 43%;
		
}
#filmeN {
	margin-left: 47%;
	
}

.logo1 {

	width: 100%;
	height:50;


}
.logo2 {

	width: 100%;
	height: ;

}

#DS img{
	
	margin-right:10%;
}





















