body {
	

}

#corpo {
	
	margin-left: 30%;
	margin-right: 8%;
}
#marpremios {
	
	margin-top: 2%;
	margin-right: ;
	margin-left: 8%;
}

#tituloD {
	
	text-align: center;
}

#DS {
	
	margin-left: 15%;
}

#mardire{
	
	margin-left: 15%;
	margin-right: 15%;
}

.carousel-inner>.item>img{
	
	height:525px;
	
}
#final{
	
	margin-top:5%;
	
}